extends ../layout

block content
  h1 Rules
  .row
    .col-md-10.col-md-offset-1
      img.paper(src='/rules.jpg' title="Rules")

  hr.margin-top-lg

  h1.margin-top-lg Loot
  .row
    .col-md-6.col-md-offset-3
      img.paper(src='/loot.png' title="Loot")
