footer
  .container.text-center
    p.pull-left © 2017 Reading Plus. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/etousley/flog') GitHub Project
      li
        a(href='https://github.com/etousley/flog/issues') Issues
