extends ../layout

block content
  h2 My Log
  hr
    
  //- Bootstrap modal behavior gets weird if it's not in a container div
  .modal-container
  
    .modal.fade#log-entry-modal
      .modal-dialog(role='document', aria-labelledby="calendarModal" aria-hidden="true")
        .modal-content
          .modal-header
            h4.modal-title Modal title
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            p Modal body text goes here.
          .modal-footer
            button.btn.btn-primary(type='button') Save changes
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            
  div#calendar

  script
    include ../../public/js/log.js
