extends ../layout

block content
  h2 My Log
  hr
    
  //- Bootstrap modal behavior gets weird if it's not in a container div
  .modal-container
  
    .modal.fade#log-entry-modal
      .modal-dialog(role='document', aria-labelledby="logEntryModal" aria-hidden="true")
        .modal-content
          .modal-header
              h4.modal-title Log entry:
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
          .modal-body
            .input-group.vert-spaced-sm
              span.input-group-addon.entry-date {{ date }}
              input.form-control.entry-title-input(type='text' placeholder='Title of log entry (optional)')
            .input-group.vert-spaced-sm
              .dropdown-menu.entry-activity-input(placeholder='Activity type...')
            .input-group.vert-spaced-sm 
              input.form-control.entry-duration-value-input(type='text' placeholder='Minutes (e.g. 20)')
              span.input-group-addon minutes
            span.vert-spaced-sm
              textarea.form-control.entry-description-input(placeholder="Description (optional)")
          .modal-footer
            button.btn.btn-primary(type='button') Save changes
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            
  div#calendar

  script
    include ../../public/js/log.js
