extends ../layout

block content
  h2 #{owner.email.split("@")[0]}'s Log
  
  //- pre 
  //-   each val, key in activities
  //-     p= key + ": " + JSON.stringify(val)
  hr
    
  div#calendar
    
  //- Required modal container
  .modal-container
    .modal.fade#log-entry-modal
      .modal-dialog(role="document", aria-labelledby="logEntryModal" aria-hidden="true")
        .modal-content
          
          .modal-header
              h4.modal-title Log Entry: 
                span#entry-date-field
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") ×
                
          //- Editable modal for log owner
          if user.email === owner.email
            .modal-body
              //- .input-group.margin-top-md-sm
              //-   span.input-group-addon.entry-date-field {{ date }}
              //- input.form-control#entry-title-field(type="text" placeholder="Title of log entry (optional)")
              //- Required dropdown container
              .dropdown 
                .btn-group
                  //- button.btn.btn-default.dropdown-toggle#entry-activity-field(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Choose an activity...
                  button.btn.btn-default#entry-activity-field(type="button") Choose an activity...
                  button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
                    span.caret
                    span.sr-only Toggle Dropdown
                  ul.dropdown-menu#entry-activity-dropdown
                    each attrs, name in activities
                      li
                        a.dropdown-item(href="#" data-duration-value=attrs.durationValue data-duration-unit=attrs.durationUnit data-points=attrs.points data-category=attrs.category)= name
              .input-group.margin-top-md
                input.form-control#entry-duration-value-field(type="text" placeholder="Minutes (e.g. 20)")
                span.input-group-addon#entry-duration-unit-field minutes
              span.margin-top-md
                textarea.form-control#entry-description-field(placeholder="Description (optional)")
              .input-group.margin-top-md
                span.input-group-addon Contest
                input.form-control#entry-contest-field(type="text" disabled="True" placeholder="(none)")
              .alert-container
                .alert.alert-danger#entry-error-field(role="alert")
                .alert.alert-info#entry-info-field(role="alert")
                .alert.alert-success#entry-points-field(role="alert")
                  
            .modal-footer
              button.btn.btn-primary#entry-save-btn(type="button", disabled="true") Save
              button.btn.btn-warning#entry-delete-btn(type="button", disabled="true") Delete
              button.btn.btn-secondary(type="button", data-dismiss="modal") Close
              
          //- Read-only modal for non-owners
          else 
            .modal-body
              button.btn.btn-default#entry-activity-field(type="button" disabled="True")
              .input-group.margin-top-md
                input.form-control#entry-duration-value-field(type="text" placeholder="Minutes (e.g. 20)" disabled="True")
                span.input-group-addon#entry-duration-unit-field minutes
              span.margin-top-md
                textarea.form-control#entry-description-field(placeholder="Description (optional)" disabled="True")
              .input-group.margin-top-md
                span.input-group-addon Contest
                input.form-control#entry-contest-field(type="text" disabled="True" placeholder="(none)")
              .alert-container
                .alert.alert-danger#entry-error-field(role="alert")
                .alert.alert-info#entry-info-field(role="alert")
                .alert.alert-success#entry-points-field(role="alert")
            .modal-footer
              button.btn.btn-secondary(type="button", data-dismiss="modal") Close
    
    //- There's got to be a better way to do this.
    .hidden
      #user-email= user.email
      #owner-email= owner.email
    
  script
    include ../../public/js/log.js
