@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

.top-buffer-md {
  margin-top: 16px;
}

.top-buffer-lg {
  margin-top: 32px;
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

// FullCalendar style overrides
// -------------------------
.fc td .fc-day {
  padding-top: 2em;
  resize: both;
  overflow: auto;
}

// Hack to treat .fc-day:hover and .fc-day-top:hover the same way with JS
.fc-day.active {
  cursor: pointer;
  background-color: #d9edf7 !important;
}

.fc-day-number {
  cursor: auto;
}

.fc-day-top {
  cursor: pointer;
  // border-bottom: 1px dotted #eaeaea !important;
  // May need to use JS listener to get hover behavior to match .fc-day:hover
}

.fc-row .fc-content-skeleton {
  cursor: auto;
}

.fc .log-entry-btn {
  display: block;
  width: 90%;
  margin-top: 2px;
  margin-right: auto;
  margin-bottom: 2px;
  margin-left: auto;
  padding-top: 1px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-left: 4px;
  font-size: 0.9em;
  border-radius: 0.9em;
  white-space: pre-wrap;
}

// Log entry modal styles
// -------------------------
.modal-title {
  max-width: 90%;
  float: left;
}

.modal-header > .close {
  max-width: 10%;
  float: right;
}

.entry-activity-field > .caret {
  margin-left: 1em;
}

.paper {
  margin: 20px;
  width: 100%;
  box-shadow: 0px 0px 30px 3px grey;
}



// .entry-duration-value-input {
//   max-width: 100px;
// }
